---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Container from '../../components/ui/Container.astro';
import CategoryHeader from '../../components/category/CategoryHeader.astro';
import CategoryGrid from '../../components/category/CategoryGrid.astro';
import Breadcrumbs from '../../components/common/Breadcrumbs.astro';
import { CATEGORIES } from '../../lib/constants';
import { getAllPosts } from '../../lib/posts';

const category = CATEGORIES.business;
const posts = await getAllPosts('business');
---

<BaseLayout title={`${category.label} | Econopedia 101`} description={category.description}>
  <Container>
    <div class="py-8">
      <Breadcrumbs items={[{ label: 'Home', href: '/' }, { label: category.label }]} />
    </div>
    <CategoryHeader title={category.label} description={category.description} color={category.color} postCount={posts.length} />
    <CategoryGrid posts={posts} />
  </Container>
</BaseLayout>
